<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.vimboard.mapper.ModLogMapper">

    <insert id="create" parameterType="com.github.vimboard.domain.ModLog">
        INSERT INTO vmb.modlogs(mod, ip, board, time, text)
        VALUES (#{mod}, #{ip}, #{board}, #{time}, #{text})
    </insert>

    <select id="preview" resultType="com.github.vimboard.domain.ModLog">
        SELECT mod, ip, board, time, text
        FROM vmb.modlogs
        WHERE mod = #{mod}
        ORDER BY time DESC
        LIMIT #{limit}
    </select>
    
</mapper>
