<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.vimboard.server.mapper.BoardMapper">

    <!--<update id="createBoard" parameterType="String">-->
        <!--CREATE TABLE vmb.post_#{id} PARTITION OF vmb.post (-->
            <!--UNIQUE (board, id)-->
        <!--) FOR VALUES IN (#{id});-->


        <!--CREATE INDEX ON vmb.post_#{id} (thread, id);-->
        <!--CREATE INDEX ON vmb.post_#{id} (filehash(40));-->
        <!--CREATE INDEX ON vmb.post_#{id} (time);-->
        <!--CREATE INDEX ON vmb.post_#{id} (ip);-->
        <!--CREATE INDEX ON vmb.post_#{id} (thread, sticky, bump);-->
    <!--</update>-->

</mapper>
